@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/forms.scss";
@import "node_modules/bootstrap/scss/utilities/background";
@import "node_modules/bootstrap/scss/nav.scss";
@import "node_modules/bootstrap/scss/navbar.scss";
@import "node_modules/bootstrap/scss/buttons.scss";
@import "node_modules/bootstrap/scss/jumbotron.scss";
@import "./components/jumbotron";


$boxshadow: -4px 13px 15px -4px rgba(0,0,0,0.75);

body {
    // background: url("/images/geometry.png");
    // background-attachment: fixed;
}

.submit {
    margin: 20px 0 0;
    // box-shadow: $boxshadow;
}


input[type='url'] {
    margin: 0 0 25px;
    
}

img{
    width: 100%;
    height: auto;
    box-shadow: $boxshadow;
}



//loader.scss
@import "./components/loader";



.no-scroll {
    overflow: hidden;
}

.download-button {
    opacity: 0;
}