           <form class="form form-group">
                <label for="url" class="">URL</label>
                <input type="url" class="form-control url-input" name="url">


                <label for="crawler" class="" for="checkbox">crawler</label>
                <input type="checkbox" name="checkbox" class="form-control crawler-checkbox"/>
                <button type="submit" value="Submit" class="btn btn-lg btn-primary submit col-sm-12">Submit</button>
                
            </form>