  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple tool for generating screen shots from websites</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>