<html lang="en">

<head>
    <meta charset="utf-8">

    <title>phantom screen shot </title>
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- google fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/main.css">

    <link>

    <!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
</head>


<body class="cbp-spmenu-push">
    <nav class="nav navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <!-- <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt=""> -->
            AbelsonTaylor
        </a>
    </nav>
    <div class="container">
      {{> jumbotron}}
        <div class="row">
            <section class="col-sm-12 col-md-5">
                {{> form}}
                <a href="#" class="btn btn-lg btn-primary col-sm-12 download-button" download>Download Screenshot</a>
            </section>
            <section class="ss col-sm-12 col-md-7">
                {{> screenshot-viewer}}
            </section>
        </div>
    </div>
    {{> loader}}
    <script src="/js/app.bundle.js "></script>
    <!-- <script>
        (function () {

            var menuRight = document.getElementById('cbp-spmenu-s2'),
                menuBottom = document.getElementById('cbp-spmenu-s4'),
                showRight = document.getElementById('showRight'),
                showBottom = document.getElementById('showBottom'),

                body = document.body;


            showRight.onclick = function () {
                classie.toggle(this, 'active');
                classie.toggle(menuRight, 'cbp-spmenu-open');
                disableOther('showRight');
            };

            function disableOther(button) {
                if (button !== 'showRight') {
                    classie.toggle(showRight, 'disabled');
                }
            }
        })($);
    </script> -->
</body>

</html>